.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    width: 100vw;
    height: 100vh;
    color: var(--color-text);
}

main {
    flex: 1;
}